.gridBannerLogos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
    /* padding-left: 10px; */
}
.fixImgLogos{
    width: 30px;
    height: auto;
}

@media (min-width: 768px){
    .gridBannerLogos{
        gap: 60px;
    }
    .fixImgLogos{
        width: 45px;
    }
}
@media(min-width: 1024px){
    .gridBannerLogos{
        gap: 80px;
        justify-content: center;
    }
    .fixImgLogos{
        width: 60px;
    }

}
@media (min-width: 1440px){
    .gridBannerLogos{
        gap: 80px; 
    }
   
    
}