.fixLogo {
    height: 64px;
    margin-top: 15px;
   
}

@media(min-width: 768px){
    img {
        height: 50px;
    }
    .fixLogo{
        margin-left: 0;
    }
}
@media (min-width: 1024px){
    .fixLogo{
        height: 90px;
        margin-bottom: 15px;  
    }
}
@media (min-width: 1440px){
   
}