
.gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  
  .imageItem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .gridBio {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .bioTitle {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
    text-align: center;
  }
  
  .scrollContainer {
    padding: 30px;
    border: 1px solid #484d51;
    border-radius: 4px;
    box-shadow:5px 3px 8px #497ea7;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #ddd;
  }
  
  .pBio {
    font-size: 14px;
    color: black;
    line-height: 1.5;
    text-align: start;
  }
  .logoLink {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
  

@media (min-width: 768px){
    .gridItem{
        align-items: center;
    }
    .imageItem{
        width: 150px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .pBio{
        font-size: 16px;
        padding: 0;
        margin: 0 10px 10px 10px;
        line-height: 1.5;
    }
    .bioTitle{
        font-size: 18px;
        margin-top: 0;
        margin-right: 25px;
    }
    .scrollContainer {
         padding: 30px; 
         border: 1px solid #ddd; 
         border-radius: 4px; 
         margin-left: 150px;
         margin-right: 150px;
    }
    .logoLink{
      margin-left: 10px;
    }
}
@media( min-width:1024px){
  .scrollContainer{
    margin-left: 300px;
    margin-right: 300px;
  }
}
