.gridFooter{
    font-family: Righteous;
    text-align: center;
    font-size: 16px;
    color: black;
    border-top: 2px solid #ccc;
}
.fixLogoAgence{
    width: 60px;
    height: auto;
}
.fixIconFooter{
    width: 24px;
    height: 24px;
    margin-top: 15px;
}
.pFooter{
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
@media (max-width: 768px){
    .pFooter{
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}