.Gridheader {
    display: flex; 
    flex-Direction: row;
    justify-Content: space-between; 
    padding:15px 15px;
    align-items:center;
    background: #484d51;
}
h1 {
    padding-left: 170px;
    font-family: Righteous;
    color:#87b3ba;
}


@media (max-width: 768px){
    .Gridheader{
        flex-wrap: wrap;
    }
    h1 {
        padding-left: 10px;
        font-size: 18px;
    }
    .logoHeader{
        width: 64px;
        height: 64px;
    }
}