.Gridheader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #727d86;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-family: Righteous;
    font-size: 19px;
}
.logoHeader{
    width: 64px;
    height: 64px;
    text-align: center;
}


@media (min-width: 768px){
    h1 {
        padding-left: 0;
        font-size: 22px;
    }
    .logoHeader{
        width: 64px;
        height: 64px;
        text-align: center;
    }
}
@media (min-width: 1024px){
    .Gridheader{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    h1{
        padding-left: 5px;
        font-size: 28px;
    }
}
@media (min-width: 1440px){
    .Gridheader {  
        padding:15px 15px;
        align-items:center;
        background: #727d86;
    }
    h1 {
        font-size: 32px;
        padding-left: 170px;
        /* font-family: Righteous; */
        /* color:#87b3ba; */
    }
}