body {
  margin: 0;
  font-family: source-code-pro,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro,monospace;
}



@media (min-width= 768px){
 h1{ 
  font-size: 22px;
}
  
}