.pNav{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    text-decoration: none;
    align-items: center;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color:#ddd;
}
.navContainer{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    gap:15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.pApropos{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color:#ddd;
    font-weight: 300;
}
a{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color:#ddd;
    font-weight: 300;
    margin-bottom: 0;
}


@media (min-width: 768px){
    a{
        font-size: 14px; 
    }
    .pNav{
        gap: 30px;
        align-items: center;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .navContainer{
        padding-left: 0;
        padding-right: 0;
        gap:80px;
        margin-left: 0;
        margin-top: 15px;
    }
    
    .pApropos{
        font-size: 14px;
    }
   
}
@media (min-width: 1024px){
    .navContainer{
        gap:30px;
    }
}
@media (min-width:1440px){
    .navContainer{
        display: flex;
            flex-direction: row;
            gap: 30px;

            align-items: center;
    }
    .pNav{
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
   
        font-weight: 700;
        /* font-family: Righteous; */
    }
    .pApropos{
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
   
        font-weight: 700;
        /* font-family: Righteous; */
    }
    .closeButton{
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        gap: 20px;
    }
    .formInput{
        display: flex;
        flex-direction: column;
    }
    .blockLabel{
        display: flex;
        flex-direction: column;
    }
    .buttonValidForm{
        background: #3498db;
        height: 40px;
        margin-top: 15px;
    }
    a{
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 700;
        /* font-family: Righteous; */
        margin-bottom: 0;
    }

}