.gridProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #ddd;
}

.projectsTitle {
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-bottom: 0;
    margin-top: 30px;
}
.projectSubtitle{
    font-size: 18px;
    color:rgb(152, 151, 151);
    margin-top: 0;
    margin-bottom: 0;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
    gap: 80px;
}

.projectWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  
}

.projectSquare {
    box-shadow:5px 3px 8px #497ea7; 
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.selectedSquare {
    transform: scale(1.1);
}

.squareImage {
    object-fit: cover;
    width:310px;
    height: auto;
    margin: auto;
   
}

.projectDetail {
    overflow: hidden;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-top: 10px;
}

.title {
    font-size: 14px;
    margin: 5px 0;
    color: black;
    text-align: center;
}

.description {
    margin: 10px 0;
    color: black;
    font-size: 12px;
}

.designLink {
    color: #0a3d62;
    text-decoration: underline;
    cursor: pointer;  
}
.tags{
    border: 1px solid #0a3d62;
    font-size: 0.9em;
    color: white;
    margin-top: 10px;
    background-color:#0a3d62 ;
  }


@media (min-width: 768px){
    .gridProjects{
        gap: 20px;
    }
    .largeSquare{
        width: 130px;
        height:130px;
    } 
    .infoSquare{
        width: 130px;
        height: 130px;
    }
    .description{
        font-size: 8px;
        margin: 0 0;
    }
    .projectsTitle{
        font-size: 16px;
        margin-top: 10px;
    }
    .projectSquare{
        width: 300px;
        height: auto;  
    }
    .projectsContainer{
        gap:60px;
    }
    .title{
        font-size: 10px;
        margin: 0 0;
    }
    .designLink{
        font-size: 8px;
    }
    .squareImage{
        width: 300px;
        margin: auto;
        object-fit: cover;
    }
    .projectDetail{
        width: 280px;
    }
    .tags{
        border: 1px solid #0a3d62;
        font-size: 8px;
        color: white;
        margin-top: 10px;
      }  
}
@media(min-width:1024px){
    .gridProjects{
        gap:20px;
    }
}